<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Gradual</title>
	<link href="./fonts/fonts.css" rel="stylesheet" type="text/css" />
  <link href="./css/lib/wing.min.css" rel="stylesheet" type="text/css" />
  <link href="./css/styles.css" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="./img/favicon.png"/>

</head>
<body>
  <a href="/" id="logo"><img src="./img/logo.svg" id="logo"/></a>
  <div class="button_container">
  <span class="top bar"></span>
  <span class="middle bar"></span>
  <span class="bottom bar"></span>
</div>

<div class="overlay">
  <div class="nav">
    <ul>
      <li><a href="#hero" data-speed="1000" class="menuLink scroll">Home</a></li>
      <li><a href="#about" data-speed="1000" class="menuLink scroll">About</a></li>
      <li><a href="#portfolio" data-speed="1000" class="menuLink scroll">Portfolio</a></li>
      <li><a href="#contact" data-speed="1000" class="menuLink scroll">Contact</a></li>
      <li><a href="http://blog.kabir.ml" class="menuLink">BLOG</a></li>
    </ul>
  </div>
</div>

<div class="overlay">
  <div class="nav">
    <ul>
      <li><a href="#hero" data-speed="1000" class="menuLink scroll">Home</a></li>
      <li><a href="#about" data-speed="1000" class="menuLink scroll">About</a></li>
      <li><a href="#portfolio" data-speed="1000" class="menuLink scroll">Portfolio</a></li>
      <li><a href="#contact" data-speed="1000" class="menuLink scroll">Contact</a></li>
      <li><a href="http://blog.kabir.ml" class="menuLink">BLOG</a></li>
    </ul>
  </div>
</div>

  <section id="hero">
    <div class="cell">
      <div class="container">
        <h1>Gradual</h1>
        <p>create beautiful todo lists<br/>with ease</p>
      </div>
    </div>
  </section>
	<script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>
