<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Gradual</title>
	<link href="./fonts/fonts.css" rel="stylesheet" type="text/css" />
  <link href="./css/lib/wing.min.css" rel="stylesheet" type="text/css" />
  <link href="./css/styles.css" rel="stylesheet" type="text/css" />
  <link rel="shortcut icon" href="./img/favicon.png"/>

</head>
<body>
  <a href="/" id="logo"><img src="./img/logo.svg" id="logo"/></a>
  <div class="nav">
    <a href="/signup" id="signupLink">Sign Up</a>
    <a href="/login" id="loginLink">Log In</a>
  </div>

  <section id="hero">
    <div class="cell">
      <div class="container">
        <h1>Gradual</h1>
        <p>create beautiful todo lists<br/>with ease</p>
      </div>
    </div>
  </section>
	<script type="text/javascript" src="js/scripts.js"></script>
</body>
</html>
