body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}

h1 {
  font-family: "Gilroy";
}

p {
  font-family: "Lato";
}

#hero {
    background: #2F97C1; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, #2F97C1, #D215E6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #2F97C1, #D215E6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #2F97C1, #D215E6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #2F97C1, #D215E6); /* Standard syntax */
}

#hero h1 {
  font-size: 10rem;
}

#hero p {
  font-size: 5rem;
}
